body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

a,
a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

/* .wrapmouse{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#ball{
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    pointer-events: none;
    z-index: 2000;
} */
.sectionone {
    width: 100%;
    height: 100vh;
    /* background: url(/image/ff642f58-71fc-4cee-9d91-d525b1c641d2.jpg) no-repeat; */
    /* background-size: cover; */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.logojen {
    z-index: 30;
    height: 95px;
    position: absolute;
    margin-top: 83px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


.sectionone .img {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

/* section one carousel */

/* .sectionone .carousel { */
    /* position: absolute;
    z-index: -1; */
/* } */

.sectionone .carousel-inner {
    height: 100vh;

}

.sectionone .carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(73%);
}

.sectionone .carousel-indicators {
    position: absolute;
    left: 15vw;

}




.carousel-caption {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 70px 0;
    margin: auto;
    color: #FFF;
    bottom: 40px;
}

.sectionone .logo {
    display: block;
    /* max-width: 150px; */
    /* width: 100%; */
    /* height: 100%; */
    margin: auto;
    padding-top: 77px;
    margin-bottom: 33vh;
}

.carousel-caption h2 {
    font-family: 'Playfair Display', serif;
    font-size: 43px;
    font-weight: 100;
    margin: auto;
    letter-spacing: 7px;

}

.carousel-caption p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: Open sans, sans-serif;
    margin: 55px auto;
    width: 400px;
}

.carousel-caption button {
    border: 1px solid #FFF;
    background: none;
    padding: 10px 30px;
    margin: 0 auto;
    color: #FFF;
    font-size: 11px;
    letter-spacing: 2px;
}

.carousel-caption button a {
    color: #FFF;
}

.carousel-indicators {
    width: auto;
    text-align: left;
    margin-left: 0;
    bottom: 50px;
}

.carousel-indicators li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 1px 15px;
    background-color: #CCC;
    border-radius: 10px;
    border: 0;
    position: relative;

}

.carousel-indicators li.active {
    width: 5px;
    height: 5px;
    margin: 1px 15px;
    background: #FFF;
}

.carousel-indicators li:hover:before {
    content: " ";
    width: 22px;
    height: 22px;
    background: transparent;
    border: solid 1px #FFF;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    left: -8px;
    top: -8px;
}

.carousel-control {
    position: absolute;
    top: unset;
    left: unset;
    right: 15vw;
    bottom: 50px;
    text-align: right;
    width: auto;
}

.carousel-control a {
    color: #FFF;
    position: relative;

}

.carousel-control a.left {
    margin-right: 15px;
}

.carousel-control a.right {
    margin-left: 15px;
}

.carousel-control a:hover:before {
    content: " ";
    width: 30px;
    height: 30px;
    background: transparent;
    border: solid 1px #FFF;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    left: -8px;
    top: -2px;
}




.sectiontwo {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.containerin {
    position: relative;
    width: 40%;
    height: 80%;
    /* top: 9%; */
    padding-top: 7%;
    margin: 0 auto;
    margin-left: 20%;
    /* overflow: hidden; */
    box-sizing: border-box;

}



.capt2 {
    position: absolute;
    box-sizing: border-box;
    width: 110%;
    height: 80%;
    background-color: #D8D6E2;
    left: 50%;
    z-index: -1;
    color: #5F5B68;
}

.capt2 h2 {
    position: relative;
    font-size: 3em;
    margin-top: 10%;
    left: 47%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20%;
}

.capt2 span {
    display: block;

}

.capt2 p {
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 1.2em;
    left: 47%;
    width: 37%;
    /* width: 100%; */
    margin: 30px 0;
    /* padding-right: 47%; */
}

.capt2 p a {
    color: #9BB284;
}

.imagetwo {
    position: relative;
    /* position: absolute; */
    box-sizing: border-box;
    /* padding: 30px; */
    padding-right: 30px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
}



.sectiontri {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    background: #5f5c68;
    overflow: hidden;

}

.containtri {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    width: 75%;
}

.capt3 {
    margin-left: 50%;
}

.containtri h2 {
    font-size: 3em;
    color: #F0F0F5;
    letter-spacing: 5px;
}

.containtri p {
    font-size: 12px;
    font-family: Open Sans;
    /* font-size: 1.2em; */
    color: #D8D5E2;
    width: 300px;
    margin: 50px 0 50px 50px;
    line-height: 21px;
    font-style: unset;

}

.img3 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 30px;

}

.img3 img {
    position: relative;
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    object-fit: cover;
    /* margin: 0 15px; */
    box-sizing: border-box;
    background-size: cover;
}

.wrap-img3 {
    width: 33.33%;
    height: 450px;
    margin: 10px;
    align-items: center;
}

.wrap-img3>p {
    position: absolute;
    z-index: 2;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%) translateX(40px);
}

.img-1,
.img-2,
.img-3 {
    overflow: hidden;
}

.active-1.left {
    object-position: left;
}

.active-3.right {
    object-position: right;
}


/* sectionfour */
.sectionfour {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}

.sectionfour img {
    /* position: absolute; */
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(73%);
}

.containerfour {
    position: absolute;
    width: 500px;
    margin: auto;
    z-index: 1;
    padding: 50px;
    top: 70px;
    right: 90px;
    color: #FFF;
}

.sectionfour h2 {
    font-size: 3em;
    line-height: 56px;
    letter-spacing: 3px;
    word-spacing: 0;
}

.sectionfour span {
    display: block;
}

.containerfour p {
    font-size: 1.2em;
    font-family: Open Sans;
    color: #D8D5E2;
    width: 300px;
    /* margin: 50px 0 50px 50px; */
    line-height: 21px;
    font-style: unset;
}

.containerfour button {
    position: relative;
    box-sizing: border-box;
    border: none;
    background: transparent;
    padding: 20px 20px 20px 0;
    text-align: start;

}

.containerfour button a {
    position: relative;
    font-size: 1.5em;
    color: #FFF;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 400;
}

.containerfour hr {
    position: relative;
    left: 70px;
    margin: 30px 0;
    border-top: 1px solid #679334;
}


.sectionfive {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    position: relative;
    box-sizing: border-box;
    background-color: #F0F0F5;
}

.containerfive {
    width: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2.1em;
    line-height: 36px;
    color: #5F5B68;
}



/*  ANIM */
.anim-left {
    position: relative;
    animation: left .2s ease-in-out;
}

@keyframes left {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1
    }
}

.sectionsix {
    width: 100%;

    height: 800px;


    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}

.sectionsix img {
    width: 120%;
    height: 120%;
    bottom: -400px;
    left: -20px;
    object-fit: cover;
    background-position: center;
    filter: brightness(57%);
    position: relative;
    box-sizing: border-box;
}


.containersix {
    position: absolute;
    box-sizing: border-box;
    padding-top: 20%;
    /* padding-right: 100px; */
    right: 13%;
    /* padding-bottom: 10%; */
    /* margin-left: 100%; */
    /* padding-top: 20%; */
    /* border: solid 1px red; */
    /* margin-top: 230px; */
    /* margin-right: 10%; */
    /* justify-content: flex-end; */
    /* padding: 100px; */
    z-index: 1;
}

.cekinout {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
}

.cekinout input {
    cursor: pointer;
    position: relative;
    padding: 20px 50px;
    margin-right: 20px;
    padding-left: 10px;
    background-color: transparent;
    border: solid 1px #679334;
    color: #679334;
    font-size: 1.3em;
}

.cekinout input::placeholder {
    color: #679334;
    padding-left: 0;
}

.cekinout i {
    color: rgba(255, 255, 255, 0.849);
    font-size: 2.1em;
}

.cekinout .bbb {
    position: absolute;
    margin-left: 160px;
    margin-top: 19px;
}

.cekinout .aaa {
    position: absolute;
    margin-top: 19px;
    margin-left: 390px;
}


.pasangger {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    display: flex;
    margin-top: 40px;
    align-content: center;
}

.pasangger input {
    padding: 10px 50px;
    text-align: center;
    background-color: transparent;
    border: solid 1px #679334;
    color: #679334;

}

.pasangger button {
    border: none;
    background-color: transparent;
    color: #FFF;
    outline: 0;
}

.pasangger .counter-minus {
    position: absolute;
    height: 100%;
    font-size: 20px;
    margin: 0 auto;
    background: none;


}

.pasangger .counter-plus {
    font-size: 20px;
    position: absolute;
    height: 100%;
    margin-left: -30px;
}

.hcc {
    padding-left: 21px;
}

label {
    position: absolute;
    color: #FFF;
    bottom: 40px;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}


.rates {
    margin-top: 100px;
    box-sizing: border-box;
    position: relative;
    font-size: 1.1em;
    letter-spacing: 1px;

}

.rates button:first-child {
    padding: 5px 45px;
    margin-right: 20px;
    background-color: #679334;
    color: #FFF;
    border: none;
}


.rates button:last-child {
    padding: 1px 10px;
    border: none;
    background-color: transparent;
    color: #FFF;
}






.footer {
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to right, #699534, #BAD431);
    padding-top: 10px;
    color: #FFF;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.containfooter {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 10px 20em;
    align-items: center;
}

.containfooter .left {
    width: 70%;
    font-size: 14px;
}

.containfooter .right {
    width: 30%;
    font-size: 14px;
}

.wrap-time {
    width: 60%;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    font-size: 42px;
    font-weight: 500;
    font-family: Times, serif;
    letter-spacing: 1px;
    position: relative;
}

.wrap-time p {
    margin: 0;
}

.wrap-time #time_format {
    font-size: 20px;
    margin: 0 10px;
    bottom: 10px;
    position: relative;
}

.wrap-time #time_format::after {
    content: " ";
    width: 7em;
    height: 1px;
    background: #FFF;
    position: absolute;
    left: 40px;
    top: 50%;
}

.wrap-time .temperature {
    position: absolute;
    right: 0;
}

/* social */
.social{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 21%;
    font-size: 1.3em;
    color: #FFF;
}
.left a{
    color: #FFF;
    display: block;
    position: relative;
    width: 30%;
    font-size: .9em;
    line-height: 23px;
}




.addcont {
    width: 270px;
    font-size: 1em;
    line-height: 20px;
    margin-top: 50px;

}

.addcont h3 {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 20px;
}

.addcont p {
    margin-bottom: 30px;
    font-size: .9em;
}

.addcont a {
    display: block;
    color: #FFF;
    word-spacing: 1px;
    font-size: .9em;

}

.addcont a:last-child {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1em;
    word-spacing: 1px;

}





/* slider */
.swiper-container{
    box-sizing: border-box !important;
    position: relative !important;
}
.swiper-slide small {
    padding-top: 50% !important;
    padding-bottom: 10%;
}
.containerswiper{
    position: relative;
    box-sizing: border-box;
    background: #000;
    z-index: 1;
}




/* navbar */

.wrapper {
    width: 100%;
    height: 100vh;
    top: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
}

.menu-btn {
    transform: rotate(270deg) translateX(50px);
    box-sizing: border-box;
    position: absolute;
    padding:25px 25px;
    background: #FFF;
    top: 200px;
    right: -57px;
    position: fixed;
    z-index: 100;
    color: #040404;
    font-size: 1.3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
.menu-btn:hover{
    padding:25px 25px;
    transition: .3s;
    right: -40px;
}

.menu-btn button {
    border: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin-bottom: 15px;
}

button:focus {
    outline: none !important;
}

.row,
.col-lg {
    margin: 0 !important;
    padding: 0 !important;
}

.col-lg {
    height: 100vh;
    width: 100%;
}

.col-lg.overlay {
    background: #322F37;
    position: absolute;
    top: -100%;
    z-index: 20;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    margin: 0;
    padding: 0;
    color: #DBD9E4;
    font-size: 2em;
}

.nav li {
    display: inline-block;
}

/* .nav li:not(:last-child) {
    margin-right: 50px;
} */
.nav li{
    padding: 0 15px;
}


.nav li:first-child:hover::before {
    content: "";
    z-index: -1;
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;
    top: -180px;
    left: 30px;
    background-image: url("../image/0a92d769-ae4f-4a86-b5d6-67fbb4bc4472.jpg");
    background-position: bottom;
    transition: 1s;
    animation: fade-in 2s ease-in-out;
}

.nav li:nth-child(2):hover::before {
    content: "";
    z-index: -1;
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;
    top: -180px;
    left: 30px;
    background-image: url("../image/0a92d769-ae4f-4a86-b5d6-67fbb4bc4472.jpg");
    background-position: center;
    transition: 1s;
    animation: fade-in 2s ease-in-out;
}

.nav li:nth-child(3):hover::before {
    content: "";
    z-index: -1;
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;
    top: -180px;
    left: 30px;
    background-image: url("../image/0a92d769-ae4f-4a86-b5d6-67fbb4bc4472.jpg");
    background-position: left;
    transition: 1s;
    animation: fade-in 2s ease-in-out;
}

.nav li:nth-child(4):hover::before {
    content: "";
    z-index: -1;
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;
    top: -180px;
    left: 30px;
    background-image: url("../image/0a92d769-ae4f-4a86-b5d6-67fbb4bc4472.jpg");
    background-position: right;
    transition: 1s;
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        top: -160px;
    }

    50% {
        opacity: 1;
        top: -180px;
    }

    100% {
        opacity: 1;
        top: -180px;
    }
}

/* @media(max-width: 900px){
    li{
        text-align: center;
        display: block !important;
        margin: 0 !important;
        padding: 20px 0;
    }

    li:hover::before {
        width: 0 !important;
    }
} 
 */




























@media (max-width: 510px) {

    .carousel-caption p {
        right: 5%;
        left: 5%;
        overflow: hidden;
    }

    .carousel-caption h2 {
        word-break: break-all;

    }

    .carousel-caption p {
        width: auto;
    }
}



.swiper-container {
    height: auto;
    padding-bottom: 100px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
}